numpy==1.26.4
langchain
langgraph
langchain-openai
langchain-community
llama-index
unstructured[pdf]==0.16.25
pdfminer.six
sentence-transformers
openai
cohere
fastapi
uvicorn
streamlit
psycopg2-binary==2.9.11
pgvector
sqlalchemy
ragas
datasets
transformers
peft
python-dotenv
wandb
pytest